<p class="img-source">All information and images shown on this site was collected from the following sites:
  <br/>
  <a href="https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_Nanoblocks">Bulbagarden</a>
  <br/>
  <a href="https://nanoblockus.com/">The official Nanoblock site (US version)</a>
  <br/>
  <a href="http://www.diablock.co.jp/nanoblock/en">The official Nanoblock site (Japan version)</a>
  <br/>
  Disclaimer: This page was created for OSU's 290 course for educational purposes only and is not affiliated with Nanoblock in any way.
</p>