<h1 class="heading">About</h1>
<h1 class="subheading">What are Nanoblocks?</h1>

<div class="image-row-container">
  <div class="i-row">
    <img class="image-row" src="/images/NB_049_Osaka_Castle_Deluxe_Ed.jpg">
  </div>
  <div class="i-row">
    <img class="image-row" src="/images/NBC_276_scubadiving.jpg">
  </div>
  <div class="i-row">
    <img class="image-row" src="/images/NBM_023_peacock.jpg">
  </div>
  <div class="i-row">
    <img class="image-row" src="/images/CN_26_akechi_mitsuhide_domokun.jpg">
  </div>
  <div class="i-row">
    <img class="image-row" src="/images/NBC_229_ramen.jpg">
  </div>
</div>
<br/>
<br/>

<div class="video">
  <iframe width="900" height="506" src="https://www.youtube.com/embed/3qTmqJoX0es" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
</div>
<br/>

<div class="about-row-padding">
  <div class="two-col">
    <img class="two-img" src="/images/NB-042_himeji_castle_deluxe_ed.jpg">
  </div>
  <div class="two-col">
    <h2 style="text-align: center;">Nanoblock: Japan's version of building block toys</h2>
    <div class="descrip">
      <p>Nanoblocks are a micro-sized building block toy similar to Lego. The individual blocks can be as small as 4mm X 4 mm X 5mm and most of the small sets are around 100 pieces. The small block sizes gives the completed model an incredible amount of detail. Plus the small size makes for a perfect displace piece on your work desk!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>

<br/>

<div class="aboutform-padding">
  <form class="aboutform" action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
    <fieldset>
      <legend>Submit a Review:</legend>
      <label>Name:
        <input type="text" id="name" name="name">
      </label>
      <br/>
      <label>Email:
        <input type="text" id="email" name="email">
      </label>
      <br/>
      <label>Comments:
        <br/>
        <textarea name="comments" class="comments" type="text" id="comments"></textarea>
      </label>
      <br/>
      <input type="submit" value="Submit">
      <br/>
    </fieldset>
    <br/>
  </form>
</div>

<h5>Download My Resume!</h5>
<h6>
  <form method="get" action="/documents/BMoore_Resume.pdf">
    <button type="submit" class="button-download">Click here to download</button>
  </form>
</h6>