<h1 class="heading">Collections</h1>

<div class="collect-row-padding">
  <div class="w3-third">
    <div class="collection-card">
      <h2 style="font-weight: bold; font-family: fantasy;">Pokemon</h2>
      <div class="collection-container">
        <img class="collection-img" src="/images/999px-Nanoblock_Ho-Oh.jpg">
        <p>Pokemon sets are one of the most popular Nanoblock collections. There are also mini versions of Pokemon. Nanoblock releases new Pokemon sets regularly. Check
          <a href="https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_Nanoblocks">Bulbagarden</a>
          for the most up-to-date releases.</p>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="collection-card">
      <h2 style="font-weight: bold; font-family: fantasy;">Characters</h2>
      <div class="collection-container">
        <img class="collection-img" src="/images/CN-22_evangelion_model02.jpg">
        <p>Nanoblock has released sets based on many different characters. You'll find sets based on characters from shows, such as the Evangelion Unit 02 as shown above from Neon Genesis Evangelion, or characters from popular video games like Sonic and Street Fighter.
        </p>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="collection-card">
      <h2 style="font-weight: bold; font-family: fantasy;">Sights to See</h2>
      <div class="collection-container">
        <img class="collection-img" src="/images/NBH123-MARINA-BAY-SANDS-1.jpg">
        <p>The Sights to See collection consists of many famous buildings and other landmarks from all over the world.</p>
      </div>
    </div>
  </div>
</div>

<div class="collect-row-padding">
  <div class="w3-third">
    <div class="collection-card">
      <h2 style="font-weight: bold; font-family: fantasy;">Animals</h2>
      <div class="collection-container">
        <img class="collection-img" src="/images/NBC_327_giraffe.jpg">
        <p>The animals collections contains mammals, insects, fish, and even dinosaurs!</p>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="collection-card">
      <h2 style="font-weight: bold; font-family: fantasy;">Japan-themed Sets</h2>
      <div class="collection-container">
        <img class="collection-img" src="/images/NBC_331_manekineko.jpg">
        <p>The collection includes famous temples and architecture from Japan and popular items found all over Japan.</p>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="collection-card">
      <h2 style="font-weight: bold; font-family: fantasy;">Food</h2>
      <div class="collection-container">
        <img class="collection-img" src="/images/NBC_244_pizza.jpg">
        <p>Pizza, cake, sushi, and even a mug of beer!</p>
      </div>
    </div>
  </div>
</div>

<div class="collect-row-padding">
  <div class="w3-third">
    <div class="collection-card">
      <h2 style="font-weight: bold; font-family: fantasy;">Award Selection Series</h2>
      <div class="collection-container">
        <img class="collection-img" src="/images/NB-041_kraken.jpg">
        <p>Sets that win awards are included in this collection and released in limited quantities.</p>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="collection-card">
      <h2 style="font-weight: bold; font-family: fantasy;">Advanced Hobby Series</h2>
      <div class="collection-container">
        <img class="collection-img" src="/images/NB-039_2_bonsai.jpg">
        <p>These sets tend to be more challenging, larger in size, and make for a great display piece!</p>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="collection-card">
      <h2 style="font-weight: bold; font-family: fantasy;">Instruments</h2>
      <div class="collection-container">
        <img class="collection-img" src="/images/NBC_037_guitar.jpg">
        <p>Electric guitars, grand pianos and keyboards. Nanoblock has released several different variations and types of instrucments.</p>
      </div>
    </div>
  </div>
</div>