<h1 class="heading">Sets</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <h2 style="font-weight: bold; font-family: fantasy;">Pokemon Sets</h2>
      <ul>
        <li>Pikachu</li>
        <li>Bulbasaur</li>
        <li>Charmander</li>
        <li>Charizard</li>
        <li>Jolteon</li>
        <li>Vaporeon</li>
        <li>Flareon</li>
        <li>Snorlax</li>
        <li>Magikarp</li>
        <li>Gyarados</li>
        <li>Moltres</li>
        <li>Gengar</li>
        <li>Ho-Oh</li>
        <li>Blastoise</li>
        <li>Rayquaza</li>
        <li>Mimikyu</li>
        <li>Articuno</li>
        <li>Psyduck</li>
        <li>Lugia</li>
        <li>Cyndaquil</li>
        <li>Venussaur</li>
        <li>MewTwo</li>
        <li>Dragonite</li>
        <li>Grookey</li>
        <li>Groudon</li>
        <li>Kyogre</li>
        <li>Lucario</li>
        <li>Rowlet</li>
        <li>Litten</li>
        <li>Scorbunny</li>
        <li>Sobble</li>
      </ul>
    </div>
    <div class="col">
      <h2 style="font-weight: bold; font-family: fantasy;">Mini Pokemon Series</h2>
      <ul>
        <li>Alolan Raichu</li>
        <li>Bellsprout</li>
        <li>Chansey</li>
        <li>Diglett</li>
        <li>Doduo</li>
        <li>Dratini</li>
        <li>Fennekin</li>
        <li>Magnemite</li>
        <li>Nidoran</li>
        <li>Lapras</li>
        <li>Caterpie</li>
        <li>Evee</li>
        <li>Charjabug</li>
        <li>Rattata</li>
        <li>Rotom</li>
        <li>Tentacool</li>
        <li>Porygon</li>
        <li>Swablue</li>
        <li>Weedle</li>
      </ul>
    </div>
    <div class="col">
      <h2 style="font-weight: bold; font-family: fantasy;">Sights to See:</h2>
      <ul>
        <li>Big Ben in London</li>
        <li>Cathedrale of Notre-Dame</li>
        <li>Parthenon</li>
        <li>New York skyline</li>
        <li>Forbidden City</li>
        <li>Pyramides of Giza</li>
        <li>Coloseum</li>
        <li>The White House</li>
        <li>Tower of Pisa</li>
        <li>Sagrada familia</li>
        <li>Burj-Khalifa</li>
        <li>Marina Bay Sands</li>
        <l>Stone Hendge</l>
        <li>Sydney opera house</li>
      </div>
    </div>
  </div>
